html, body{
    height : 100%;
}
body {
    font-family: fredoka;
    margin: 0;
    padding: 0;
    background-color: #F5F1E6;
    color: #148B4B;
}

.navbar{
    height: 120px ;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.logo{
    margin-left : 20px;
    height : 120px;
    width: 120px;
}
img{
    height : 115px;
    width: max-content;
}
.link{
    display: flex;
    width: 500px;
    margin-right: 20px;
    align-items: center;
    gap : 2%;
}
.link a{
    text-decoration :none;
    color: #148B4B;
}
.link a:hover{
    color: #21c56e;
}
.acceuil{
    justify-content: center;
}
.imgSlogan{
    width: 100%;
    height: 310px;
    background-image: url(../images/voiture2.png);
    background-size: cover;
    text-align: center;
    color: #F5F1E6; 
    font-size: 20px;
}
.imgSlogan p{
    padding-top: 2%;
    margin: 0;
}

.searchBar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 43%;
    left: 25%;
    height : 77px;
    color: #148B4B;
    width: 50%;
    justify-content: space-between;
    background-color: #F5F1E6;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#formSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 952.5px;
}
.searchBar input{
    display: flex;
    border:none;
    height : 76px;
    width: 160px;
    background-color: #F5F1E6;
    margin: auto;
    outline: none;
    z-index: 1;
}
.searchBar button{
    border:none;
    background-color: #148B4B;
    height : 77px;
    width: 20%;
    cursor: pointer;
    border-top-right-radius: 1em;
    border-bottom-right-radius : 1em;
    color: #F5F1E6;
}
.presentation{
    padding-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #148B4B;
    padding-bottom: 2%;
}
.imgIcone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    color: #148B4B;
    padding-bottom: 1%;
}
.imgIcone img{
    width: 10%;
    height: 10%;
}
.accroche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    color: #148B4B;
    padding-bottom: 1%;
}
h2{
    display: flex;
    justify-content: center;
    color:#148B4B;
}

/* BUTTON LOGIN */

.dropdown {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;  
}
.avatar-btn {
    border: none;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    background-color: #148B4B;
}

.avatar-btn img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    bottom: 25px;
    right: 0px;
    font-size: 18px;
    width: 21px;
    height: 21px;
    transition: transform 0.3s ease;
    pointer-events: none;
    color: beige;
}

.menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #F5F1E6;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
}
.menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #148B4B;
}
.rotate {
    transform: rotate(180deg);
}
label {
    color: #148B4B;
    font-weight:bold;
}

/*FORMULAIRE CONNEXION et INSCRiPTIiON*/

#formConnect{
    display : flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    height:50%;
    gap : 3%;
}
.inscrire{
    display: flex;
    align-items: center;
    gap: 2%;
}
.inscrire a{
    font-weight : bold;
}
.inscription{
    height: 80%;
}
.inscription p{
    font-size: 12px;
}
.formInscription{
    display : flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    height: 635px;
    gap : 3%;
}
input{
    border: none;
    border-bottom: 2px solid #7da582;
    font-size: 14px;
    background-color: transparent;
    outline: none;
}
.seConnecter{
    height : 100%;
}
.seConnecter p{
    font-size: 12px;
}
.seConnecter a{
    font-size : 14px;
}
#btnConnexion{
    background-color: #0b7e34;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.btnInscription{
    background-color: #0b7e34;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/*FORMULAIRE PROPOSER UN TRAJET*/
.visiteur{
    height: 100%;
}
.linkVisiteur{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100%;
}
.visiteurConn{
    width: 50%;
    text-align: center;
    background-color: #0b7e34;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
#proposerTrajet{
    height: 100%;
}
#formTrajet{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(4, 1fr, 1fr);
    width: 50%;
    height: 50%;
    margin: auto;
    gap : 2%;
    align-items: center;
}
textarea{
    height: 120px;
}
#valider{
    grid-column: 1/5;
    grid-row: 6/7;
    background-color: #0b7e34;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/*FORMULAIRE CONTACT*/
#formContact{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(9, 1fr);
    max-width: 40%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    gap: 2% 5%;
}
#last_name{
    grid-column: 1/2;
    grid-row: 2/3;
}
#email{
    grid-column: 1/2;
    grid-row: 4/5;
}
#message{
    border: none;
    border-bottom: 2px solid #7da582;
    background-color: #F5F1E6;
}
#message {
    grid-column: 1/3;
    grid-row: 6/9;
}
::placeholder{
  font-family: inter;
  font-style: italic;
}

#btnContact{
    background-color: #0b7e34;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    grid-column: 1/3;
    grid-row: 9/10;
    cursor: pointer;
}
#champs p{
  font-size: 12px;
}
/*PROFIL*/
.profil{
    width: 60%;
    height: 100%;
    margin: auto;
}
.userInfo{
    display: grid;
    grid-template-columns: 0.3fr 1fr; 
    grid-template-rows: repeat(6, 1fr);
}
#uploadForm{
    grid-column: 1/2;
    grid-row: 1/5;
    place-content: center;
}
#photoPreview{
    cursor:pointer; 
    width:150px; 
    height:150px; 
    border-radius:50%; 
    object-fit:cover;
    border: solid 5px #0b7e34;
}
.etoiles {
    display: inline-flex;
    align-items: center;
}
.etoile {
    font-size: 1.5em;
    margin-right: 3px;
    color: #ccc;
    position: relative;
}
.etoilePleine {
    color: #FFD700;
}
.etoileMoitie {
    background: linear-gradient(90deg, #FFD700 50%, #ccc 50%);
    -webkit-text-fill-color: transparent;
}
.etoileVide {
    color: #ccc;
}
.score { 
    margin-left: 8px;
    font-weight: bold;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: #0b7e34;
}
.tableauVoiture{
    border-collapse: collapse;
    min-width: 100%;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border : 2px solid #0b7e34;
}
thead tr{
    background-color: #0b7e34;
    color : #F5F1E6;
    text-align: center;
}
th, td{
    padding : 0.5%;
}
tbody tr, td, th{
    border : 1px solid #ddd;
}
.preferVoyage{
    width: 20%;
    color: #0b7e34;
}
hr{
    width: 50%;
}

/*BOUTON "Ajouter vehicule"*/
.dropdownCars {
    width: 250px;
    position: relative;
}

.carsBtn {
    border-radius: 0.5em;
    color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    background-color: #0b7e34;
}

.carsForm {
    display: none;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.carsForm.show {
    display: block;
}

form {
    display: flex;
    margin : 0;
    flex-direction: column;
    gap: 8px;
}

#btnEnregistrer {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/*COVOITURAGE MES TRAJETTS*/
.mesTrajets{
    height: 100%;
}
#btnFiltre{
    border-radius: 0.5em;
    color: #f9f9f9;
    padding: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #0b7e34;
}
.containerResult{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}
.triResult{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.trajetResult
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.trajet{
    display: flex;
    justify-content: space-between;
}
.trajetResult p a{
    background-color: #0b7e34;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.linkResult{
    background-color: #F5F1E6;
    border-radius: 1em;
    padding:1%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.chauffeur{
    display: flex;
    align-items: center;
    gap:5%;
}
.photoChauffeur{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 5px #0b7e34;
}
.details{
    display: flex;
    font-weight: bold;
    align-items: center;
}
.detailsTrajet{
    display: flex;
    justify-content: space-between;
}
.voyageEco{
    display: flex;
    align-items: flex-end;
}
.containerTrajet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
}
.historique{
    background-color: #F5F1E6;
    border-radius: 1em;
    padding:1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.formAnnule{
    align-items: center;
}
.btnAnnuler{
    border-radius: 0.5em;
    color: #f9f9f9;
    padding: 5px;
    cursor: pointer;
    border: none;
    width: 20%;
    text-align: center;
    font-size: 16px;
    background-color: #0b7e34;
}
.notation {
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
}
.notation input {
    display: none;
}
.notation label::before {
    content: '★';
    font-size: 2.5rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s ease;
}
.notation label:hover::before,
.notation label:hover ~ label::before {
    color: #f5b301;
}
.notation input:checked ~ label::before {
    color: #f5b301;
}
/*RESERVATION*/
.containerResa{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
    background-color: #F5F1E6;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resaResult{
    margin: 2%;
}
.btnActions{
    display: flex;
    justify-content:space-between;
    margin: 1%;
}
.btnRetour{
    border-radius: 0.5em;
    color: #f9f9f9;
    cursor: pointer;
    border: none;
    padding: 1%;
    text-align: center;
    font-size: 16px;
    background-color: #0b7e34;
}
.btnReserver{
    border-radius: 0.5em;
    color: #f9f9f9;
    cursor: pointer;
    border: none;
    padding: 1%;
    text-align: center;
    font-size: 16px;
    background-color: #0b7e34;
}

/*BOUTON SWITCH STATUT */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    user-select: none;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top:0; left:0; right:0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px;
}
.switch input:checked + .slider {
    background-color: #4cd964;
}
.switch input:checked + .slider:before{
    transform: translateX(22px);
}
.switch-label{
    margin-left: 10px;
    font-weight: 500;
    vertical-align: middle;
    color: #333;
}
.statutTermine{
    color : #888;
    font-weight: bold;
}
/*ESPACE ADMIN*/
.containerCard{ 
    width: 90%;
    margin: 30px auto; 
    padding: 0 20px;
}
.cards{ 
    display:flex; 
    gap:20px; 
    margin-bottom:30px; 
    flex-wrap:wrap; 
}
.card{ 
    flex:1;
    min-width:200px; 
    background:#fff; 
    padding:20px; 
    border-radius:10px; 
    box-shadow:0 0 5px rgba(0,0,0,0.1);
}
.charts{
    max-width: 1800px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.charts canvas{ 
    background:#fff;
    padding:20px;
    border-radius:10px; 
    box-shadow:0 0 10px rgba(0,0,0,0.1); 
    width: 700px;
}
.gestionUsers ul{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}
.gestionUsers ul li{
    background-color: #0b7e34;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.gestionUsers ul li a{
    color: white;
}
.tableauUsers{
    border-collapse: collapse;
    margin: auto;
    min-width: 80%;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border : 2px solid #0b7e34;
}
thead tr{
    background-color: #0b7e34;
    color : #F5F1E6;
    text-align: center;
}
tbody tr, td, th{
    border : 1px solid #ddd;
}
.btnSuspendre{
    background-color: #0b7e34;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
.btnSuspendre:hover{
    background-color: #21c56e;
}
.btnReactiver{
    background-color: #0b7e34;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
.actionAdmin{
    display: flex;
    justify-content: space-around;
    border: none;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-bottom: 0;
    color: #148B4B;
    font-size: small;
    background-color: #dad2bd;
    width: 100%;
}

