<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoride</title>
    <link rel="stylesheet" href="asset/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

  <header>
    <nav class="navbar">
        <div class="logo">
          <a href="http://localhost/ecoride/index.php">
          <img src="asset/images/Logo ECORIDE.png"> 
        </div>

        <div class ="link">
            <a href="covoiturages.php"> Covoiturage |</a>
            <a href="proposer_trajet.php"> Proposer un trajet |</a>
            <a href="contact.php"> Contact</a>

            <div class="dropdown">
              <button class="avatar-btn" onclick="toggleMenu()">
              <img src="asset/images/icon-park-solid--people.png" alt="avatar" />
              <span class="arrow">&#709;</span> 
              </button>

              <div class="menu" id="dropdownMenu">
                <a href="profil.php">Mon profil</a>
                <a href="inscription.php">Inscription</a>
                <a href="http://localhost/ecoride/connexion.php">Connexion</a>
                <a href="deconnexion.php">Deconnexion</a>
              </div>
        </div>
    </nav>
  </header>
